body {
  text-align: center;
  background-image: url("../images/background.png")
}

h1 {
  color: black;
  font-family: 'Courier New', Courier, monospace, sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 2px grey;
}

p {
  font-size: 20px;
}

#button {
  display: block;
  position: absolute;
  margin-left: 100px;
  margin-bottom: 30px;
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #a01c1c;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#button:hover {background-color: #a59b27}

#button:active {
  background-color: #1d6ee9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-dice-blue {
  position: absolute;
  display: block;
  margin-left: 100px;
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #2828d6;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  display: none;
}

.button-dice-blue:hover {
  background-color: #172c6d;
}

.button-dice-blue:active {
  background-color: #172c6d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-dice-yellow {
  position: absolute;
  display: block;
  margin-top: 70px;
  margin-left: 100px;
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #8b8b00;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  display: none;
}

.button-dice-yellow:hover {
  background-color: #2e3b08;
}

.button-dice-yellow:active {
  background-color: #70882d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-dice-green {
  position: absolute;
  display: block;
  margin-top: 140px;
  margin-left: 100px;
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #49974a;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  display: none;
}

.button-dice-green:hover {
  background-color: #1e792a;
}

.button-dice-green:active {
  background-color: #1e792a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-dice-red {
  position: absolute;
  display: block;
  margin-top: 210px;
  margin-left: 100px;
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #b62d29;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  display: none;
}

.button-dice-red:hover {
  background-color: #812e19;
}

.button-dice-red:active {
  background-color: #812e19;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#board-container {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  /* border: 1px solid black; */
  background-image: url("../images/tabuleiro-ludo.svg");
  background-size: 600px;
}

.blue-pawn {
  position: absolute;
  width: 20px;
  height: 20px;
  background: rgb(43, 43, 193);
  border-radius: 50%;
  border: 1px solid #000000;
  display: none;
}

.yellow-pawn {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  background: rgb(165, 165, 48);
  border-radius: 50%;
  border: 1px solid #000000;
  display: none;
  
}

.green-pawn {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  background: rgb(53, 157, 53);
  border-radius: 50%;
  border: 1px solid #000000;
  display: none;
}

.red-pawn {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 12px;
  background: rgb(176, 51, 51);
  border-radius: 50%;
  border: 1px solid #000000;
  display: none;
}

.base-blue {
  position: absolute;
  width: 80px;
  height: 80px;
  margin-top: 85px;
  margin-left: 85px;
}

.base-blue > div {
  float: left;
  width: 38px;
  height: 38px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.base-yellow {
  position: absolute;
  width: 80px;
  height: 80px;
  margin-top: 85px;
  margin-left: 450px;
}

.base-yellow > div {
  float: left;
  width: 38px;
  height: 38px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.base-green {
  position: absolute;
  width: 80px;
  height: 80px;
  margin-top: 455px;
  margin-left: 447px;
}

.base-green > div {
  float: left;
  width: 38px;
  height: 38px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.base-red {
  position: absolute;
  width: 80px;
  height: 80px;
  /* border: 1px solid rgba(0, 0, 0, 0); */
  margin-top: 455px;
  margin-left: 74px;
}

.base-red > div {
  float: left;
  width: 38px;
  height: 38px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.grid-top {
  position: absolute;
  margin-left: 230px;
  margin-top: 15px;
  width: 170px;
  height: 225px;
  rgba(0, 0, 0, 0)
}

.grid-top > div {
  border: 1px solid rgba(0, 0, 0, 0);
  width: 45px;
  height: 26px;
  float: left;
}

.grid-bottom {
  position: absolute;
  margin-left: 230px;
  margin-top: 357px;
  width: 170px;
  height: 225px;
}

.grid-bottom > div {
  border: 1px solid rgba(0, 0, 0, 0);
  width: 45px;
  height: 26px;
  float: left;
}

.grid-left {
  position: absolute;
  margin-left: 18px;
  margin-top: 229px;
  width: 225px;
  height: 170px;
}

.grid-left > div {
  border: 1px solid rgba(0, 0, 0, 0);
  width: 26px;
  height: 45px;
  float: left;
}

.grid-right {
  position: absolute;
  margin-left: 358px;
  margin-top: 229px;
  width: 225px;
  height: 170px;
}

.grid-right > div {
  border: 1px solid rgba(0, 0, 0, 0);
  width: 26px;
  height: 45px;
  float: left;
}

.grid-center-blue {
  border: 1px solid rgba(0, 0, 0, 0);
  position: absolute;
  width: 70px;
  height: 30px;
  margin-left: 265px;
  margin-top: 242px;
}

.grid-center-yellow {
  border: 1px solid rgba(0, 0, 0, 0);
  position: absolute;
  width: 30px;
  height: 70px;
  margin-left: 328px;
  margin-top: 263px;
}

.grid-center-green {
  border: 1px solid rgba(0, 0, 0, 0);
  position: absolute;
  width: 70px;
  height: 30px;
  margin-left: 265px;
  margin-top: 327px;
}

.grid-center-red {
  border: 1px solid rgba(0, 0, 0, 0);
  position: absolute;
  width: 30px;
  height: 70px;
  margin-left: 243px;
  margin-top: 263px;
}

#dice {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: black;
  margin-left: 1050px;
  border-radius: 20px;
  display: none;
}

#dot1 {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: white;
  margin-left: 25px;
  margin-top: 20px;
}

#dot2 {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: white;
  margin-left: 25px;
  margin-top: 62px;
}

#dot3 {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: white;
  margin-left: 25px;
  margin-top: 105px;
}

#dot4 {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: white;
  margin-left: 102px;
  margin-top: 20px;
}

#dot5 {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: white;
  margin-left: 102px;
  margin-top: 62px;
}

#dot6 {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: white;
  margin-left: 102px;
  margin-top: 105px;
}

#dot7 {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: white;
  margin-left: 63px;
  margin-top: 62px;
}

.container-start-message {
  display: block;
  position: absolute;
  margin-left: 985px;
  margin-top: 170px;
  width: 275px;
  height: 325px;
  padding: 0 30px 0 30px;
  color: white;
  text-align: left;
  border-radius: 20px;
  display: none;
}

.box1 {
  background-color: rgb(48, 48, 193) !important;
}

.box2 {
  background-color: rgb(139, 139, 0);
}

.box3 {
  background-color: rgb(17, 133, 30);
}

.box4 {
  background-color: rgb(182, 45, 41);
}

.container-end-message {
  display: block;
  position: relative;
  text-align: center !important;
  margin-left: 340px;
  margin-top: 0;
  width: 600px;
  height: 600px;
  padding: 30px;
  background-color: #027575;
  color: white !important;
  text-align: left;
  border-radius: 20px;
  display: none;
}